<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Catalogo de Servicios 8.0</name>

<description>
Trabajo final Catalogo de Servicios
</description>

<author href="https://araconsultoriaysoluciones.com" email="ing.jmarchena@gmail.com">
JESUS ERNESTO MARCHENA SANCHEZ 
</author>
<icon src="img/icon.png" />
<plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
<feature name="http://api.phonegap.com/1.0/network" />
<access origin="*" onlyInBrowser="true" />
</widget>